# Fichiers de configuration et variables d'environnement (API Keys, etc.)
.env
.env.*

# Secrets Streamlit Cloud
.streamlit/secrets.toml

# Environnement virtuel Python
venv/
.venv/
env/

# Fichiers de données locales confidentielles (CV, LM, historique, etc.)
data/
*.sqlite
*.db
*.csv

# Fichiers temporaires, logs et cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.vscode/
.idea/